{{>layout/header}}
<h1 style="text-align: center; margin-top: 200px;">피파온라인 4</h1>

<div class="container" style="margin-top: 85px;">

    <div class="mx-auto" style="text-align: center">
        <div class="input-group">
            <input type="text" class="form-control" id="nickname" placeholder="구단주를 입력하세요"
                   style="margin-right: 10px;">
            <button class="btn btn-primary" type="button" id="btn-user-info">검색</button>
        </div>
    </div>

</div>

<script src="/js/app/index.js"></script></body>
{{>layout/footer}}