{{>layout/header}}

<h1 style="text-align: center">구단주 정보</h1>

<div class="container mx-auto" style="margin: 200px 0; width: 1000px;">
    <h4 style="text-align: center">구단주 이름 : {{user.nickname}}</h4>
    <h4 style="text-align: center">구단주 레벨 : {{user.level}}</h4>

    <h4 style="text-align: center; margin-top : 100px">매치 종류 : {{pass.matchType}}</h4>
    <h4 style="text-align: center">등급 : {{pass.division}}</h4>
    <h4 style="text-align: center">달성일 : {{pass.achievementDate}}</h4>

</div>

<script src="/js/app/user-info.js"></script>
{{>layout/footer}}